
    h1{
        color:black;
        background-color:orangered;
        text-align: center;
        font-size: 30px;
        border: outset;
    }
    h2{
        color:white;
        border: dashed;
    }
p{color:black;
    background:yellow;
    border: dotted;
}
body{
    background-image:url(csk.jpg) ;
}
table,th,td{
    color:white;
    border:solid;
    border-collapse: collapse;
    
}
